html,body{height:100%;}
.mainContent{
	height:auto!important; /*for ie6 bug and ie7+,moz,webkit 正确*/
	height:100%; /*修复IE6,all browser*/
	min-height:99.5%; /*for ie6 bug and ie7+,moz,webkit 正确*/
}

.login_top_bg {
	/*background-image: url(login-top-bg.gif);*/
	background-image: url(top-bg.gif);
	background-repeat: repeat-x;
}
.body {
	#background-color: #EEF2FB;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

.login-buttom-bg {
	background-image: url(login-buttom-bg.gif);
	background-repeat: repeat-x;
}
.login-buttom-txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
}
.login_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #333333;
}
.Submit {
	padding-top:8px;
	padding-bottom:5px;
	padding-left:4px;
	padding-right:4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #629DAE;
	text-decoration: none;
	background-image: url(Submit_bg.gif);
	background-repeat: repeat-x;
}
.login_bg {
	/*background-image: url(login_bg.jpg);*/
	background-repeat: repeat-x;
}
.login_bg2 {
	/*background-image: url(login-content-bg.gif);*/
	background-repeat: no-repeat;
	background-position: right;
}

.admin_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444;
	text-decoration: none;
	height: 38px;
	line-height: 38px;
}
.login_txt_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 90px;
	color: #666666;
	font-weight: bold;
}
.admin_topbg {
	background-image: url(bg.gif);
	background-repeat: repeat-x;
}
.top_bottom{
	background-image: url(top-bottom.gif);
	background-repeat: repeat-x;
}
.txt_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.left_topbg {
	background-image: url(content-bg.gif);
	background-repeat: repeat-x;
}
.admin_toptxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4A8091;
	height: 18px;
	width: 100%;
	overflow: hidden;
	position: �̶�;
}

.left_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #395a7b;
}
.left_bt2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #333333;
}
.titlebt {
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	background-image: url(top_bt.jpg);
	background-repeat: no-repeat;
	display: block;
	text-indent: 15px;
	padding-top: 5px;
}

.left_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #666666;
}
.left_txt2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #000000;
}
.nowtable {
	background-color: #e1e5ee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #bfc4ca;
	border-right-color: #bfc4ca;
	border-bottom-color: #bfc4ca;
	border-left-color: #bfc4ca;
}
.left_txt3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #003366;
	text-decoration: none;
}



.left_ts {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #FF6600;
}
.line_table {
	border: 1px solid #CCCCCC;
}
.sec1 {
	CURSOR: hand;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	border: 1px solid #B5D0D9;
	background-image: url(right_smbg.jpg);
	background-repeat: repeat-x;
}
.sec2 {
	FONT-WEIGHT: bold;
	CURSOR: hand;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	background-color: #e2e7ed;
	border: 1px solid #e2e7ed;
}
.main_tab {
	COLOR: #000000;
	BACKGROUND-COLOR: #e2e7ed;
	border: 1px solid #e2e7ed;
}
.MM a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #666666;
	background-image: url(menu_bg.gif);
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-image: none;
}
a:link {
	font-size: 12px;
	line-height: 25px;
	color: #333333;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	line-height: 25px;
	color: #666666;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	line-height: 25px;
	color: #333333;
	text-decoration: none;
}


.MM a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #666666;
	background-image: url(menu_bg.gif);
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-image: none;
}

.toolGroup {
	margin:10px;
}



/*******************tanfei add********************/

/* .button {
	color: #000;
	width: 78px;
	height: 32px;
	border: none;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	line-height: 20px;
	background: url(bg_button_search.png) left top no-repeat;
} */

.toolGroup input {
	font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti;
	margin-left: 0px;
	padding: 6px 8px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	line-height: 1;
	letter-spacing: 2px;
	font-family: Tahoma, Arial/9!important;
	width: auto;
	overflow: visible;
	color: #333;
	border: solid 1px #999;
	border-radius: 5px;
	background: #DDD;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD');
	background: linear-gradient(top, #FFF, #DDD);
	background: -moz-linear-gradient(top, #FFF, #DDD);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD));
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 -1px 0 rgba(0, 0, 0, .09);
	-moz-transition: -moz-box-shadow linear .2s;
	-webkit-transition: -webkit-box-shadow linear .2s;
	transition: box-shadow linear .2s;
}

.toolGroup input:hover {
	color: #000;
	border-color: #666;
}

.button_highlight {
	font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti;
	margin-left: 15px;
	padding: 6px 8px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	line-height: 1;
	letter-spacing: 2px;
	font-family: Tahoma, Arial/9!important;
	width: auto;
	overflow: visible;
	
	color: #FFF;
	border: solid 1px #3399dd;
	border-radius: 5px;
	background: #2288cc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
	background: linear-gradient(top, #33bbee, #2288cc);
	background: -moz-linear-gradient(top, #33bbee, #2288cc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
	text-shadow: -1px -1px 1px #1c6a9e;
	
	box-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 -1px 0 rgba(0, 0, 0, .09);
	-moz-transition: -moz-box-shadow linear .2s;
	-webkit-transition: -webkit-box-shadow linear .2s;
	transition: box-shadow linear .2s;
}

.button_highlight:hover {
	color: #FFF;
	border-color: #1c6a9e;
}

form {
	font-size:12px;
}
